.pagination {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pagination span {
    font-weight: 500;
    color: #475467;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}