/* table.css */
.table-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 12px;
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.table-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1);
    margin-top: 10px;
    font-size: 14px;
    table-layout: fixed;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
}

th {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #4D515A;
    padding: 12px;
    background-color: #e5e6e7;
    overflow: auto;
}

td {
    font-weight: 400;
    color: #464E5F;
    overflow: auto;
    padding: 12px;
    border-bottom: 1px solid #E2E8F0;
}

tr:nth-child(even) {
    background-color: #F9FAFB;
}

.table-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-top: 1px solid #E2E8F0;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 -1px 3px rgba(16, 24, 40, 0.05);
    font-size: 14px;
    color: #344054;
}